body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  background-color: rgb(44, 56, 25);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar i {
  padding-left: 20px;
}

.logo_title {
  font-size: 20px;
}

.logo_title i {
  color: yellowgreen;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo_title a {
  padding: 20px 5px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 8px 15px;
}

.menu li:hover {
  background-color: orange;
  border-radius: 5px;
}

.snsLogo {
  display: flex;
  list-style-type: none;
}

.snsLogo li {
  color: white;
  padding: 0;
  font-size: 15px;
}

.fa-instagram {
  padding-left: 10px;
  padding-right: 20px;
}

.toggleBtn {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  color: yellowgreen;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo_title {
    justify-content: center;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu li {
    width: 90%;
    text-align: center;
  }

  .menu li:hover {
    border-radius: 5px;
  }

  .snsLogo {
    display: none;
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .toggleBtn {
    display: block;
  }

  .menu.active,
  .snsLogo.active {
    display: flex;
  }
}